# ==========================================
# 1. THƯ MỤC DỮ LIỆU & MÔ HÌNH (TUYỆT ĐỐI KHÔNG PUSH)
# ==========================================
data/
models/

# ==========================================
# 2. MÔI TRƯỜNG ẢO & CẤU HÌNH (VIRTUAL ENV)
# ==========================================
venv/
env/
.env

# ==========================================
# 3. FILE RÁC CỦA PYTHON & JUPYTER NOTEBOOK
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# ==========================================
# 4. FILE TẠM CỦA SPARK & LOGS
# ==========================================
spark-warehouse/
metastore_db/
derby.log
*.log

# ==========================================
# 5. FILE HỆ THỐNG (MAC OS / WINDOWS)
# ==========================================
.DS_Store
Thumbs.db