__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

.idea/
.vscode/
*.swp
.DS_Store

metastore_db/
derby.log
spark-warehouse/
checkpoint/

/data/

!/data/.gitkeep

.ipynb_checkpoints/
*/.ipynb_checkpoints/

models/saved/
models/*.model

*.parquet

submission.csv

*.log
Thumbs.db
node_modules

backend/data_cache/
cart_recommendations.json
article_metadata.csv
final_recommendations.csv
similar_products.json
global_trending.json